@import url('./styles/header.css');
@import url('./styles/card-list.css');
@import url('./styles/container.css');
@import url('./styles/list-item.css');
@import url('./styles/footer.css');

@import url('./styles/landing-page.css');

body {
  margin: 0;
}

.margin-header {
  margin: 1rem;
}
