.card-list {
  margin-bottom: 1rem;
  width: 96%;
  box-shadow: 0 0 0.2rem 0.1rem grey;
  border-radius: 0.2rem;
}

.list-title-container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.list-title > p {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.2rem;
}

.list-subtitle > p  {
  color: lightgrey;
  font-weight: 200;
  font-size: 1rem;
  margin: 0;
}

.list-updated {
  display: flex;
}

.list-updated > p {
  color: lightgrey;
  font-weight: 200;
  font-size: 1rem;
  margin: 0.2rem;
  align-self: end;
}

.list-items-container {
  margin: 1rem;
  border-top: 0.2rem solid lightgrey;
}
