.card-list {
  margin-bottom: 1rem;
  width: 96%;
  box-shadow: 0 0 0.2rem 0.1rem grey;
  border-radius: 0.2rem;
}

.list-title-container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.list-title > p {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.2rem;
}

.list-subtitle > p  {
  color: #9e9c95;
  font-weight: 200;
  font-size: 0.8rem;
  margin: 0;
  margin-inline: 0.2rem;
}

.list-updated {
  display: flex;
}

.list-updated > p {
  color: #9e9c95;
  font-weight: 200;
  font-size: 0.8rem;
  margin: 0.2rem;
  align-self: end;
}

/* List Items (make new file??) */

.list-items-container {
  margin: 1rem;
  border-top: 0.2rem solid #9e9c95;
}
