.container  {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.container-list {
  align-self: center;
  width: 72vw;
  box-shadow: 0rem 0rem 0.1rem 0.1rem lightgrey;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
