header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  box-shadow: 0px 0px 0.3rem 0.1rem #9e9c95;
}

.logo-title {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img{
  height: 4rem;
  width: auto;
  margin: 0.2rem;
  margin-left: 1rem;
}

.main-title {
  display: flex;
  align-items: center;
}

.main-title > p {
  text-align: center;
  font-weight: 600;
  font-size: 2.4rem;
  margin: 1rem;
}

.avatar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-right: 1rem;
}

.avatar {
  display: flex;
  align-items: center;
  margin-inline: 0.5rem;
}

.avatar > i {
  font-size: 2rem;
  /* height: 3rem;
  width: 3rem;
  border-radius: 50%; */
}

.menu {
  display: flex;
  align-items: center;
  margin-inline: 0.5rem;
}

.menu > i {
  font-size: 1.6rem;
  /* for images use:
  height: 3rem;
  width: 3rem;
  border-radius: 50%; */
}
