.container-green {
  height: 80vh;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 8rem;
  width: auto;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login {
  padding: 0.6rem;
  padding-inline: 1.6rem;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 0.4rem;
  transition: 0.3s background-color;
}

.login:hover {
  background-color: rgb(228, 228, 228);
}

.sign-up {
  margin: 0.8rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.sign-up:hover {
  color: rgb(228, 228, 228);
}
